app:
  base-url: https://cybrooke.vercel.app
spring:
  application:
    name: cyrev-iam-provisioning
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update   # change to validate or none in prod if needed
    show-sql: true
    properties:
      hibernate.format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
  mail:
    host: smtp.gmail.com
    port: 587
    username: noreply@cyrev.com
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
logging:
  level:
    root: INFO
    com.company.iam: DEBUG

temporal:
  api-key: ${TEMPORAL_API_KEY:}
  address: ${TEMPORAL_ADDRESS:}
  host: ${TEMPORAL_HOST:temporal}
  port: ${TEMPORAL_PORT:7233}
  enabled: true
  task-queue: USER_PROVISIONING
  namespace: ${TEMPORAL_NAMESPACE:temporal-system}
  workflow:
    timeout: PT5M # default workflow timeout

scim:
  enabled: true
  base-path: /scim/v2
  auth:
    username: admin
    password: admin
  token: scim-secret-xyz
  atlassian:
    base-url: https://cybrooke.atlassian.net/
    directory-id: 8ad1920-op8799-oapp-09945
rbac:
  default-role: EMPLOYEE

approval:
  auto-approve-apps:
    - SLACK

adapters:
  slack:
    api-url: https://slack.com/api
    token: xoxb-your-slack-token
  jira:
    api-url: https://cybrooke.atlassian.net/rest/api/3
    username: jira-bot
    api-token: your-jira-token
    scim:
      url: https://cybrooke.atlassian.net/

  bitbucket:
    baseurl: https://api.bitbucket.org/2.0
    username: apatababajide@gmail.com
    app-password:
    workspace: cybrookes
security:
  jwt:
    secret: VERY_LONG_RANDOM_SECRET_32_CHARS_MIN
    expiry: 3600000 # 1 hour
    mfa-expiry: 300000 # 5 mins

server:
  port: 8090

management:
  endpoints:
    web:
      exposure:
        include: "*"

entra:
  client-id: ${ENTRA_YOUR_CLIENT_ID}
  client-secret: ${ENTRA_YOUR_CLIENT_SECRET}
  tenant-id: ${ENTRA_YOUR_TENANT_ID}
sendgrid:
  api-key: ${SENDGRID_API_KEY}
  from-email: info@cyrev.com
