spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
temporal:
  api-key: ${TEMPORAL_API_KEY:}
  namespace: ${TEMPORAL_NAMESPACE:temporal-system}
  address: ${TEMPORAL_ADDRESS:}
  host: ${TEMPORAL_HOST:temporal}
  port: ${TEMPORAL_PORT:7233}
  enabled: true
  task-queue: USER_PROVISIONING
