name: Deploy Temporal Stack

on:
  push:
    branches:
      - main
    paths:
      - infra/temporal/**

  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy-temporal:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Install Container Apps extension
        run: |
          az extension add --name containerapp --upgrade

      - name: Deploy Temporal Stack
        run: |
          az containerapp update \
          --name temporal \
          --resource-group CyRev \
          --env-vars DB=postgres12

      - name: Expose Temporal UI
        run: |
          az containerapp ingress enable \
            --name temporal-ui \
            --resource-group CyRev \
            --type external \
            --target-port 8080